body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: normal;
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #d3d3d3; 
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}