<head>
    <style>
    table th{
        color:blueviolet
    }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-dark bg-dark px-4 mb-4">
    <h4 class="text-white">Welcome, {{user.first_name}} {{user.last_name}}!</h4>
    <div>
        <a href="/logout" class="btn btn-outline-light btn-sm">Logout</a>
    </div>
</nav>
<body>
    {% if messages %}
        {% for m in messages %}<p class="text-danger mt-2 small">{{m}}</p>{% endfor %}
    {% endif %}

<div class="container">
    <div class="row">
        <!-- Add Game Section -->
        <div class="col-md-5">
            <form action="/games/create" method="POST" class="card p-3 shadow-sm">
                {% csrf_token %}
                <label>Game Name</label><input type="text" name="name" class="form-control mb-2"required>
                <br>
                <label>Genre</label><select class="form-select form-select-sm mb-2" name="genre" required>
                    <option value="Action">Action</option>
                    <option value="RGP">RGP</option>
                    <option value="Arcade">Arcade</option>
                    <option value="Strategy">Strategy</option>
                    <option value="Tactical_shooter">Tactical shooter</option>
                    <option value="Adventure">Adventure</option>
                </select>
                <br>
                <label>Release Date</label><input type="date" name="release_date"required>
                <br>
                <label>Description</label><textarea name="desc" class="form-control mb-3" rows="4"required></textarea>
                <button class="btn btn-info">Create a Game</button>
            </form>
        </div>
        <!-- All Games Section -->
        <div class="col-md-7 ps-5">
            <table class="table table-striped"> 
            <thead>
                <tr>
                    <th scope="col" >Game</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Release Date</th>
                </tr>
            </thead>
            <tbody>
                {% for game in all_games %}
                <tr>
                    <td><a href="/games/{{game.id}}" class="fw-bold">{{game.name}}</a></td>
                    <td>{{game.genre}}</td>
                    <td>{{ game.release_date|date:"j F Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
</body>